* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
    background-image: url(img/11439.png);
    background-size: 100em;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 0 15px;
}
.style{
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
}

.main {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.blockStyle {
    border-radius: 10px;
    margin: 10px 10px;
    background: rgba(255, 255, 255, 0.34);
    height: 220px;
    width: 180px;
    box-shadow: 2px 0px 15px #24f803;
    /* border:1px solid rgba(255, 0, 0, 0.726); */
    color: rgb(0, 0, 0);
}
.blockStylePlanet{
    border-radius: 50%;
    margin: 60px 100px 10px 30px;
    background: rgba(1, 1, 1, 0.29);
    height: 150px;
    width: 200px;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    box-shadow: 2px 0px 15px #032cf8;
    border:1px solid rgba(255, 0, 0, 0.726);
    color: rgb(183, 248, 104);
    font-family:'Franklin Gothic Medium';
}
.stylePlanet{
    width: 50%;
    display:flex;
    justify-content: center;
}
.btnPlanet{
    width: 100px;
    height: 50px;
    border-radius:50%;
    background:black;
    box-shadow: 0px 0px 15px white;
    color:red;
}

.form{
    display: flex;
    height: 80px;
    align-items: center;
}
#input {
    width: 170px;
    height: 40px;
    text-align: center;
    color:red;
    background: rgb(0, 0, 0);
    border:2px solid red;
    border-radius:50%
}

.btn{
    width: 80px;
    height: 80px;
    border-radius:50%;
    background:black;
    box-shadow: 0px 0px 15px white;
    color:red;
}


.noload {
    display: none;
}

.load {
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: 6.5em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px #fff,
            0px 0px 10px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #7B96B8,
            0px 0px 150px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px 10px 100px #7B96B8,
            0px -10px 100px #7B96B8,
            0px -10px 100px #7B96B8;
    }
}